<h1>Reviews</h1>

<h2>Click <%= link_to 'here', new_review_path %> to add a new review.
</h2>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.text, review_path(review) %>
    </li>
  <% end %>
</ul>


